* {
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 30px 0 30px 0;
  text-align: center;
  background-color: #cdfad5;
}

header h1 {
  display: inline;
  margin-left: 15px;
  font-weight: 300;
  font-family: "Cutive Mono", monospace;
}
